g https://www.google.com/search?q=%s
ghde https://geizhals.at/deutschland/?fs=%s
ynman http://yubnub.org/kernel/man?args=%s
wp https://en.wikipedia.org?search=%s
wpde https://de.wikipedia.org?search=%s
leo https://dict.leo.org/?search=%s
leofr https://dict.leo.org/frde/?search=%s
amde https://www.amazon.de/exec/obidos/external-search?keyword=%s&index=blended
am https://www.amazon.com/s/?field-keywords=%s
amuk https://www.amazon.co.uk/exec/obidos/external-search?mode=blended&keyword=%s
wine http://appdb.winehq.org/search.php?sSearchQuery=%s
gim https://www.google.com/search?tbm=isch&q=%s
gmde https://maps.google.de/maps?q=%s
gm https://maps.google.com/maps?q=%s
yt https://www.youtube.com/results?search_type=search_videos&search_sort=relevance&search_query=%s&search=Search
imdb http://www.imdb.com/find?q=%s
